.payItems {
  border: 1px solid #e6e6e6;
  padding: 0 20px;
  margin-top:-25px
}

.payItems .table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Comfortaa";
}

.payItems .table .thead {
  font-size: 15px;
  line-height: 20px;
}

.payItems .table .thead .td {
  font-weight: 600;
  padding: 24px 15px;
  width: 14.3333%;
}

.payItems .table .thead .td:first-child {
  padding: 0;
  width: 4%;
}

.payItems .table .thead .td:last-child {
  padding-right: 20px;
}

.payItems .table .tfoot {
  font-size: 16px;
  text-align: right;
}

.payItems .table .tfoot .tr {
  border-bottom: 0;
  float: right;
}

.payItems .table .tfoot .fullPrice {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  padding: 30px 20px;
  display: inline-block;
  vertical-align: middle;
}

.payItems .table .tfoot .fullPrice p {
  display: inline-block;
  padding-right: 5px;
}

.payItems .table .tfoot .fullPrice span,
.payItems .table .tfoot .fullPrice i {
  color: #c80000;
}

.payItems .table .tbody .td {
  padding: 20px 15px;
  height: 120px;
}

.payItems .table .tbody .td:first-child {
  padding: 0;
  width: 1%;
}

.payItems .table .tbody .td:nth-child(2) {
  padding-left: 0;
}

.payItems .table .tr .tr {
  border-bottom: 1px solid #e6e6e6;
}

.payItems .table .td {
  vertical-align: middle;
}

.payItems .table .td:nth-child(2) {
  width: 60% !important;
  padding-left: 0;
}

.payItems .singleItemPrice {
  color: #000;
}

.payItems .singleItemPrice span {
  margin-right: 3px;
}

.payItems .itemPrice {
  font-weight: 700;
  color: #000;
}

.payItems .itemPrice span {
  margin-right: 3px;
}

.smallProduct {
  position: relative;
  font-size: 13px;
  line-height: 18px;
  font-family: "Roboto";
}

.smallProduct .as {
  font-size: 16px;
}

.smallProduct .as a {
  -webkit-transition: color .250s linear;
  -o-transition: color .250s linear;
  transition: color .250s linear;
}

.smallProduct .imgWrapper {
  position: absolute;
  top: 50%;
  left: 0;
  width: 90px;
  height: 90px;
  margin-top: -45px;
  margin-left: 5px;
  display: block;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-transition: opacity .250s linear;
  -o-transition: opacity .250s linear;
  transition: opacity .250s linear;
}

.smallProduct .smallProductInfo {
  padding-left: 110px;
}

.delateProduct {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.delateProduct:before,
.delateProduct:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 2px;
  margin-left: -7px;
  background: #c80000;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: background .250s linear;
  -o-transition: background .250s linear;
  transition: background .250s linear;
  content: '';
}

.delateProduct:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.table {
  display: table;
}

.table .tr {
  display: table-row;
}

.table .td {
  display: table-cell;
}

.tableMobTitle {
  display: none;
}

.emptyBasker {
  display: none;
}

.emptyBas .payItems {
  padding: 0;
  display: none;
}

.emptyBas .tablem,
.emptyBas .paySelect,
.emptyBas .btnWrapper {
  display: none;
}

.emptyBas .emptyBasker {
  text-align: center;
  display: block;
  padding: 15px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  font-family: "Comfortaa";
}

.emptyBas .emptyBasker a {
  color: #c80000;
}

.deliveryWarning .errorMsg {
  position: relative;
  font-size: 14px;
  color: rgba(212, 0, 0, 0.6);
  border: 1px solid rgba(212, 0, 0, 0.3);
  padding: 15px;
  margin-top: 15px;
  display: none;
}

.deliveryWarning .errorMsg img {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 24px;
  height: 24px;
  display: block;
  margin-top: -12px;
}

.deliveryWarning .errorMsg p {
  padding-left: 35px;
}

.invalidMsg {
  padding: 5px 0 10px;
  color: rgba(212, 0, 0, 0.6);
  display: none;
}

.orderDiscount {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  padding: 30px 20px;
  display: inline-block;
  vertical-align: bottom;
}

.orderDiscount p {
  display: inline-block;
  padding-right: 5px;
}

.orderDiscount span,
.orderDiscount i {
  color: #c80000;
}

/*Inputs*/
label {
  position: relative;
  display: block;
  /*Light inputs*/
}

label:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 0;
  background: #0e0e0e;
  z-index: 2;
  content: '';
  -webkit-transition: height 300ms linear;
  -o-transition: height 300ms linear;
  transition: height 300ms linear;
}

label:after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1px;
  height: 0;
  background: #0e0e0e;
  -webkit-transition: height 300ms linear;
  -o-transition: height 300ms linear;
  transition: height 300ms linear;
  z-index: 2;
  content: '';
}

label .firstBorderElement:before {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background: #0e0e0e;
  -webkit-transition: width 375ms linear;
  -o-transition: width 375ms linear;
  transition: width 375ms linear;
  z-index: 2;
  content: '';
}

label .firstBorderElement:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background: #0e0e0e;
  -webkit-transition: width 375ms linear;
  -o-transition: width 375ms linear;
  transition: width 375ms linear;
  z-index: 2;
  content: '';
}

label .secondBorderElement:before {
  position: absolute;
  top: 0;
  right: 50%;
  width: 0;
  height: 1px;
  background: #0e0e0e;
  -webkit-transition: width 375ms linear;
  -o-transition: width 375ms linear;
  transition: width 375ms linear;
  z-index: 2;
  content: '';
}

label .secondBorderElement:after {
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 1px;
  background: #0e0e0e;
  -webkit-transition: width 375ms linear;
  -o-transition: width 375ms linear;
  transition: width 375ms linear;
  z-index: 2;
  content: '';
}

label.active:before, label.active:after {
  height: 100%;
}

label.active .firstBorderElement:before, label.active .firstBorderElement:after,
label.active .secondBorderElement:before,
label.active .secondBorderElement:after {
  width: 50%;
}

label.light .simpleInput {
  border-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}

label.light:before, label.light:after {
  background: #fff;
}

label.light .firstBorderElement:before, label.light .firstBorderElement:after,
label.light .secondBorderElement:before,
label.light .secondBorderElement:after {
  background: #fff;
}

.inputWrapper {
  position: relative;
}

.inputWrapper.searchInput .simpleInput {
  padding-right: 50px;
}

.inputWrapper.searchInput .imgWrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

.inputWrapper.searchInput img {
  width: 20px;
  height: 20px;
  display: block;
  margin: 15px auto;
}

.simpleInput {
  font-size: 14px;
  line-height: 48px;
  padding: 0 15px;
  color: #0e0e0e;
  height: 50px;
  width: 100%;
  border: 1px #e6e6e6 solid;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  font-family: "Roboto";
}

.simpleInput.invalid {
  z-index: 4;
  border-color: #f11e1e !important;
}

textarea.simpleInput {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 22px;
  height: 140px;
}

textarea.simpleInput.small {
  height: 80px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #0e0e0e;
  opacity: 1;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #0e0e0e;
  opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #0e0e0e;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #0e0e0e;
  opacity: 1;
}

label.light input::-webkit-input-placeholder,
label.light textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

label.light input:-moz-placeholder,
label.light textarea:-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

label.light input::-moz-placeholder,
label.light textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

label.light input:-ms-input-placeholder,
label.light textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

/* inputs */


/*SumoSelect*/
.sumoWrapper {
  position: relative;
}

.SelectBox {
  cursor: pointer;
  padding: 15px;
}

.SumoSelect {
  font-size: 14px;
  color: #333;
  width: 100%;
}

.SumoSelect:before, .SumoSelect:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background: #0e0e0e;
  z-index: 2;
  -webkit-transition: width 375ms linear;
  -o-transition: width 375ms linear;
  transition: width 375ms linear;
  content: '';
}

.SumoSelect:after {
  left: auto;
  right: 50%;
}

.SumoSelect .CaptionCont {
  border: 1px solid #e6e6e6;
}

.SumoSelect .CaptionCont:before, .SumoSelect .CaptionCont:after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background: #0e0e0e;
  z-index: 2;
  -webkit-transition: width 375ms linear;
  -o-transition: width 375ms linear;
  transition: width 375ms linear;
  content: '';
}

.SumoSelect .CaptionCont:after {
  left: auto;
  right: 50%;
}

.SumoSelect .CaptionCont > span:before, .SumoSelect .CaptionCont > span:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 0%;
  background: #0e0e0e;
  z-index: 2;
  -webkit-transition: height 375ms linear;
  -o-transition: height 375ms linear;
  transition: height 375ms linear;
  content: '';
}

.SumoSelect .CaptionCont > span:after {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
}

.SumoSelect .CaptionCont > span, .SumoSelect .CaptionCont label {
  cursor: pointer;
}

.SumoSelect .optWrapper {
  -webkit-border-radius: 0;
  border-radius: 0;
}

.SumoSelect .optWrapper .options {
  -webkit-border-radius: 0;
  border-radius: 0;
}

.SumoSelect .optWrapper .options li.opt {
  padding: 0;
  border-bottom: 1px solid #e6e6e6;
  -webkit-transition: background 100ms linear;
  -o-transition: background 100ms linear;
  transition: background 100ms linear;
}

.SumoSelect .optWrapper .options li.opt label {
  padding: 10px 15px;
}

.SumoSelect .optWrapper .options li.opt:first-child, .SumoSelect .optWrapper .options li.opt:last-child {
  -webkit-border-radius: 0;
  border-radius: 0;
}

.SumoSelect.open .CaptionCont > span:before, .SumoSelect.open .CaptionCont > span:after {
  height: 100%;
}

.SumoSelect.open .CaptionCont:before, .SumoSelect.open .CaptionCont:after {
  width: 50%;
}

.SumoSelect.open:before, .SumoSelect.open:after {
  width: 50%;
}

.SumoSelect.open > .optWrapper {
  top: 50px;
}

.inputElementWrapper {
  width: 100%;
  position: relative;
}

.inputElementItem, .textareaElementItem {
  border: 1px solid #ccc;
  padding: 9px 14px;
  transition: 0.4s;
  background: transparent;
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.inputElementItem ~ .focus-border:before,
.inputElementItem ~ .focus-border:after,
.textareaElementItem ~ .focus-border:before,
.textareaElementItem ~ .focus-border:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #0e0e0e;
  transition: 0.4s;
}

.inputElementItem ~ .focus-border:after,
.textareaElementItem ~ .focus-border:after {
  top: auto;
  bottom: 0;
}

.inputElementItem ~ .focus-border i:before,
.inputElementItem ~ .focus-border i:after,
.textareaElementItem ~ .focus-border i:before,
.textareaElementItem ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #0e0e0e;
  transition: 0.6s;
}

.inputElementItem ~ .focus-border i:after,
.textareaElementItem ~ .focus-border i:after {
  left: auto;
  right: 0;
}

.inputElementItem:focus ~ .focus-border:before,
.inputElementItem:focus ~ .focus-border:after,
.textareaElementItem:focus ~ .focus-border:before,
.textareaElementItem:focus ~ .focus-border:after {
  left: 0;
  width: 100%;
  transition: 0.4s;
}

.inputElementItem:focus ~ .focus-border i:before,
.inputElementItem:focus ~ .focus-border i:after,
.textareaElementItem:focus ~ .focus-border i:before,
.textareaElementItem:focus ~ .focus-border i:after{
  top: -1px;
  height: 100%;
  transition: 0.6s;
}

.inputElementItem ~ label,
.textareaElementItem ~ label {
  position: absolute;
  left: 14px;
  width: 100%;
  top: 10px;
  color: #212529;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}

.inputElementItem::placeholder,
.textareaElementItem::placeholder {
  color: transparent;
}

.inputElementItem:focus ~ label,
.textareaElementItem:focus ~ label {
  top: -18px;
  left: 0;
  font-size: 12px;
  color: #0e0e0e;
  transition: 0.3s;
}
.mt-2, .my-2 {
  margin-top: 6.4rem!important;
}
.inputElementItem:not(:placeholder-shown):not([value=""]) ~ label,
.textareaElementItem:not(:placeholder-shown):not([value=""]) ~ label {
  top: -18px;
  left: 0;
  font-size: 12px;
  color: #0e0e0e;
  transition: 0.3s;
}

.changeB{
  margin-top: 15px;
}
