.productMenuImage{
    width: 100%;
    display: block;
    min-height: 470px;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    overflow: hidden;
}