<div class="container-fluid mt-2">
    <div class="row">
      <div class="col-2">
        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
          <a class="nav-link" [routerLink]="[ 'category' ]" routerLinkActive="active bg-dark">Category</a>
          <a class="nav-link" [routerLink]="[ 'products' ]" routerLinkActive="active bg-dark">Products</a>
          <a class="nav-link" [routerLink]="[ 'blogs' ]" routerLinkActive="active bg-dark">Blogs</a>
        </div>
      </div>
      <div class="col-10">
        <div class="tab-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>