.timeAuthor{
display: flex;
justify-content: space-between;
}
.author{
    cursor: pointer;
    font-size: 20px;
}
.author:hover{
    text-decoration: underline;
}
.und:hover{
    text-decoration: underline;
    cursor: pointer;
}