<input type="text" class="form-control " [(ngModel)]="bTitle" name="bTitle" id="title" placeholder="title here..">

<textarea [(ngModel)]="bText" name="bText" id="dText" class="form-control"
style="width: 100%; min-height: 200px; margin-top: 20px;" placeholder="text here..."></textarea>

<input type="text" class="form-control " id="author" [(ngModel)]="bAuthor" name="bAuthor" placeholder="author here.." style="margin-top: 20px;">

<button type="button" class="btn btn-dark mt-3" (click)="addBlog()" [textContent]="!editStatus ? 'Add' : 'Save edit'"></button>
<hr>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Text</th>
        <th scope="col">Date</th>
        <th scope="col">Author</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of adminBlog; let i=index">
        <td class="font-weight-bold">{{ i+1 }}</td>
        <td>{{ a.title }}</td>
        <td>{{ a.text }}</td>
        <td>{{a.date|date}}</td>
        <td>{{ a.author |titlecase}}</td>
        <td>
          <input type="button" value="edit" class="btn btn-dark" (click)="editDiscount(a)">
        </td>
        <td>
          <input type="button" value="delete" class="btn btn-dark" (click)="deleteDiscount(a)">
        </td>
      </tr>
    </tbody>
  </table>
